html, body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 1.5;
  background: #3B3738;
  color: whitesmoke;
  overflow: hidden;
}

.container {
    margin-top: 15px;
}

.ourFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #3B3738;
  margin-bottom: 15px;
}